    <!-- About Section -->
    <section id="modernisme" class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <blockquote>
                        <p class="lead">El Modernisme és el corrent cultural europeu que marca la fi del segle XIX i l’inici del segle XX. Abasta totes les arts i, a la vegada, representa també una manera de viure.</p>
                        <p>En arquitectura, el Modernisme retroba l’arquitectura gòtica medieval, representativa dels moments de màxim esplendor de la història de Catalunya, i combina la gran tradició constructiva catalana amb l’escultura, els oficis artístics i les arts aplicades , a més d’utilitzar el ferro com a nou element estructural.</p>
                        <p>El Modernisme a Berga té el nom de l’arquitecte mataroní Josep Puig i Cadafalch.</p>
                        <footer>&mdash; <cite>"La Serarols & Associats". Manel Salicrú i Puig</cite></footer>
                    </blockquote>
                </div>
            </div>
            <ul>
        </div>
    </section>