    <!-- Contact Section -->
    <section id="contacte" class="content-section no-padding">
        <div class="contact-section">
            <div class="yellow-bg">
                <div class="container container-bg text-center">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <h2>Posa’t en contacte amb nosaltres per resoldre els teus dubtes</h2>
                            <div class="text-left">
                                <form method="POST" action="https://formspree.io/info@estudieconomic.com">
                                    <input type="hidden" name="_next" value="/gracies/" />
                                    <input type="hidden" name="_subject" value="Nova consulta clàusula sòl" />
                                    <input type="text" name="_gotcha" style="display:none" />
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Nom</label>
                                        <input type="text" name="nom" class="form-control" id="exampleInputPassword1" placeholder="Nom" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Cognoms</label>
                                        <input type="text" name="cognoms" class="form-control" id="exampleInputPassword1" placeholder="Cognoms" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Correu electrònic</label>
                                        <input type="email" name="email" class="form-control" id="exampleInputEmail1" placeholder="Correu-e" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">La vostra consulta</label>
                                        <textarea class="form-control" name="missatge" id="exampleInputEmail1" placeholder="La vostra consulta" rows="3"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-default">Enviar</button>
                                </form>
                            </div>
                            <p class="text-left"><strong>No cobrem la primera consulta ni l’estudi de viabilitat.</strong> T’acompanyem i assessorem amb total confiança.</p>
                        </div>
                    </div>
                </div>
                <div class="container container-bg text-center">

                    <hr/>
                    {% for place in site.data.places %}
                    <div class="text-left">
                    {{ place.description }}
                    </div>
                    {% endfor %}

                    <div class="row">

                        <div class="col-md-6">

                    
                        <a href="{{ site.organitza.conesa.url }}"><img src="{{ site.url }}/images/{{ site.organitza.conesa.logo }}" alt="{{ site.organitza.conesa.description }}" title="{{ site.organitza.conesa.description }}"></a>
                    
                        {% for place in site.data.places |limit: 1 offset: 0 %}
                        <div class="address"><p><small><strong>Adreça:</strong> {{ place.address }} - <strong>Telèfon:</strong> {{ place.phone | slice: 4, 9 }} - <a href="{{ place.url }}" title="{{ place.name }}" rel="external"><i class="fa fa-external-link"></i></a> | <a href="mailto:{{ place.email }}" title="Correu-e {{ place.email }}" rel="external"><i class="fa fa-envelope"></i></a></small></p></div>
                        {% endfor %}

                        </div>

                        <div class="col-md-6">

                    
                        <a href="{{ site.organitza.eje.url }}"><img src="{{ site.url }}/images/{{ site.organitza.eje.logo }}" alt="{{ site.organitza.eje.description }}" title="{{ site.organitza.eje.description }}"></a>
                    
                        {% for place in site.data.places |limit: 1 offset: 1 %}
                        <div class="address"><p><small><strong>Adreça:</strong> {{ place.address }} - <strong>Telèfon:</strong> {{ place.phone | slice: 4, 9 }} - <a href="{{ place.url }}" title="{{ place.name }}" rel="external"><i class="fa fa-external-link"></i></a> | <a href="mailto:{{ place.email }}" title="Correu-e {{ place.email }}" rel="external"><i class="fa fa-envelope"></i></a> | <a href="{{ place.facebook }}" title="Facebook de {{ place.name }}" rel="external"><i class="fa fa-facebook"></i></a></small></p></div>
                        {% endfor %}

                        </div>

                    </div>

                    <hr/>

                    <p>Copyright &copy; {{ site.title }}</p>

                </div>
            </div>
        </div>
    </section>
