<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "content": {
    "message": "Utilitzem galetes de tercers per a anàlisi de la navegació dels usuaris i millorar els nostres serveis .. Si continua navegant, considerem que accepta el seu ús. Podeu obtenir més informació, o bé conèixer com canviar la configuració, prement a:",
    "dismiss": "D'acord!",
    "link": "Més informació.",
    "href": "https://www.clausulasol.cat/politica-de-cookies/"
  }
})});
</script>