
    <header class="intro intro-download" id="download">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h2>Llegiu tota la història a:</h2>
                        <p><a href="http://www.calameo.com/read/0041577305ca0714f71ad" target="_blank" title="La Serarols & Associats" class="btn btn-default btn-lg"><i class="fa fa-book fa-fw"></i> <span class="network-name">Serarols & Associats</span></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </header>