---
layout: default-post
---

<article>

  <div class="post-content">
    {{ content }}

  {% if page.share %}<hr/><div class="social-share text-center">
          <ul class="socialcount socialcount-small inline-list">
            <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook"><span class="count"><i class="fa fa-facebook"></i> Like</span></a></li>
            {% if page.category != null %}
            <li class="twitter"><a href="https://twitter.com/intent/tweet?text={{page.title | strip_html | strip_newlines | truncate: 70 | uri_escape }}{% if page.twitter != null %}%20%20({{ page.twitter | replace:"'","\'" | uri_escape}}){% endif %}%20%E2%80%94%20{{page.category | replace:"'","\'" | uri_escape}}%20{{site.twitter-sentence | replace:"'","\'" | uri_escape}}&url={{ site.url }}{{page.url | replace:"'","\'" | uri_escape}}&counturl={{ site.url }}{{page.url | replace:"'","\'" | uri_escape}}'" title="Share on Twitter"><span class="count"><i class="fa fa-twitter"></i> Tweet</span></a></li>
            {% else if %}
            <li class="twitter"><a href="https://twitter.com/intent/tweet?text={{page.title | strip_html | strip_newlines | truncate: 70 | uri_escape }}%20{{site.twitter-sentence | replace:"'","\'" | uri_escape}}&url={{ site.url }}{{page.url | replace:"'","\'" | uri_escape}}" title="Share on Twitter"><span class="count"><i class="fa fa-twitter"></i> Tweet</span></a></li>
            {% endif %}
            <li class="googleplus"><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" title="Share on Google Plus"><span class="count"><i class="fa fa-google-plus"></i> +1</span></a></li>
          </ul>
        </div><hr/>{% endif %}
  </div>

</article>
